{% extends "base.html" %}
{% block title %}Medioox | Tool{% endblock %}

{% block content %}
    <!-- Content -->
    <div class="home-title">
      <h1 class="home-title__title">
        Unlock the Power of AI: Your Gateway to Smart Tools
      </h1>
      <h2 class="home-title__subtitle">
        Discover a suite of cutting-edge AI tools designed to streamline your
        tasks effortlessly. From adding captivating captions to your videos,
        merging multiple audio files into a seamless composition, converting
        text to lifelike audio, to downloading Instagram stories, videos, and
        YouTube content – our free tools make every job a breeze.
      </h2>
    </div>
  
    <div class="container-fluid">
      <div class="row g-4 m-2">
        <div class="col-md-3">
          <div class="card">
             <a href="/youtube_shorts_video"><img src="/static/images/image1.png" class="card-img-top" alt="YouTube Video"></a>
              <div class="card-body d-flex flex-column">
                  <h5 class="card-title">Download YouTube Shorts & Videos</h5>
                  <p class="card-text flex-grow-1">
                      download your favorite YouTube shorts videos with just a click.
                  </p>
                  <a href="/youtube_shorts_video" class="btn btn-danger mt-auto">Get Started</a>
              </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <a href="/instagram_reels">
            <img
              src="/static/images/image2.png"
              class="card-img-top"
              alt="Instagram Video"
            />
          </a>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Download Instagram Reels</h5>
              <p class="card-text flex-grow-1">
                Download videos from Instagram to keep your moments.
              </p>
              <a href="/instagram_reels" class="btn btn-danger  mt-auto">Get Started</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <a href="/add_caption_video">
            <img
              src="/static/images/image4.png"
              class="card-img-top"
              alt="Instagram Story"
            />
            </a>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Add Captions To Videos</h5>
              <p class="card-text flex-grow-1">
                Add caption in your Video and make it available to others
              </p>
              <a href="/add_caption_video" class="btn btn-danger  mt-auto">Get Started</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <a href="/text_to_audio">
            <img
              src="/static/images/image3.png"
              class="card-img-top"
              alt="Text to Audio"
            />
            </a>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Conversational Text To Audio</h5>
              <p class="card-text flex-grow-1">
                Transform Conversational Text To Audio into audio using AI.
              </p>
              <a href="/text_to_audio" class="btn btn-danger  mt-auto">Get Started</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <a href="/instagram_profiles">
            <img
              src="/static/images/InstaGramProfile.png"
              class="card-img-top"
              alt="Audio to Audio"
            />
            </a>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Download Instagram Profile Pictures</h5>
              <p class="card-text flex-grow-1">
               Grab the Profile Picture of any Instagram Account<br>
               <span class="card-text">May not be Suitable for Private Account</span>
              </p>
              <a href="/instagram_profiles" class="btn btn-danger  mt-auto">Get Started</a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card">
            <a href="/audio_to_text">
            <img
              src="/static/images/AudioToText.png"
              class="card-img-top"
              alt="Audio to Audio"
            />
            </a>
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">Audio/Video To Text</h5>
              <p class="card-text flex-grow-1">
                Transform Audio into Text using advanced AI technology.<br>
               <span class="card-text">May give inappropriate Results.</span>
              </p>
              <a href="/audio_to_text" class="btn btn-danger  mt-auto">Get Started</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div> 

    <!-- Content End -->

  {% endblock %}