<!-- <div class="container-fluid">
    <div class="row g-4 m-2">
      <div class="col-md-3">
        <div class="card">
            <img src="/static/images/image1.png" class="card-img-top" alt="YouTube Video">
            <div class="card-body d-flex flex-column">
                <h5 class="card-title">Download YouTube Video</h5>
                <p class="card-text flex-grow-1">
                    Effortlessly download your favorite YouTube videos with just a click.
                </p>
                <a href="#" class="btn btn-danger mt-2">Get Started</a>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img
            src="/static/images/image2.png"
            class="card-img-top"
            alt="Instagram Video"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Download Instagram Video</h5>
            <p class="card-text flex-grow-1">
              Download videos from Instagram to keep your memorable moments.
            </p>
            <a href="#" class="btn btn-danger mt-2">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/static/images/image4.png"
            class="card-img-top"
            alt="Instagram Story"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Add Captions to Videos</h5>
            <p class="card-text flex-grow-1">
              Add caption in your Video and make it available to others
            </p>
            <a href="#" class="btn btn-danger mt-2">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/static/images/image3.png"
            class="card-img-top"
            alt="Text to Audio"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Text to Audio</h5>
            <p class="card-text flex-grow-1">
              Transform text into lifelike audio using advanced AI technology.
            </p>
            <a href="#" class="btn btn-danger mt-2">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/static/images/image3.png"
            class="card-img-top"
            alt="Text to Audio"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Text to Audio</h5>
            <p class="card-text flex-grow-1">
              Transform text into lifelike audio using advanced AI technology.
            </p>
            <a href="#" class="btn btn-danger mt-2">Get Started</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <img
            src="/static/images/image3.png"
            class="card-img-top"
            alt="Text to Audio"
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">Text to Audio</h5>
            <p class="card-text flex-grow-1">
              Transform text into lifelike audio using advanced AI technology.
            </p>
            <a href="#" class="btn btn-danger mt-2">Get Started</a>
          </div>
        </div>
      </div>

      </div>
  </div> -->


  <!-- CSS -->
  .card {
    position: relative;
    overflow: hidden;
    height: 25rem;
    margin: 10px auto;
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .card img {
    width: 100%;
    object-fit: cover; 
    opacity: 0.6; 
  }

  .card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-body {
    position: absolute;
    bottom: 3px;
    height: 15rem;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8); /* Add a slightly transparent background for text */
    padding: 1rem;
  }
  <!--  -->
